/* INDEX STYLING */


body {
    margin: 0;
    background-color: #1E1030;
    
}


/* Navbar styling */
.navbar {
    list-style-type: none;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    border-bottom: 1px solid rgb(49, 33, 64);
 } 

.navbar-container{



    display: flex;
    align-items: center;
    padding: 32px;
    padding-left: 9%;
    padding-right: 10%;  
    height: 40px;   
    margin: 0 auto;
    background: rgba(30, 16, 48, 0.92); 
    backdrop-filter: blur(6px);   
}


.navlinks {
    display: flex;
    gap: 50px;
    list-style: none;
    margin-left: auto;  
    padding: 0;
}

.background {
    padding-top: 100px;
    
}





.navbar-container li {
    position: relative;
}



a:link {
   text-decoration: none;
    color: white;
    font-family: myFont;
    font-size: 20px;
    display: inline-block;        
    transition: transform 0.3s ease, color 0.3s ease;
}

/* So dropdown links dont get targeted */

.navlinks > li > a:hover {
    transform: scale(1.2); 
    color: red; 
    transition-duration: .5s;
    text-shadow: 0 0 8px rgba(255, 70, 85, 0.6)
}



@font-face {
    font-family: MyFont;
    src: url(Oswald-VariableFont_wght.ttf);
    font-weight: normal;
    font-style: normal; 
  }



a {
    text-decoration: none;
    color: white;
    font-family: MyFont;

}

/* Dropdowns */



.players:hover > a {
    color: red;
    text-shadow: 0 0 8px rgba(255, 70, 85, 0.6)

}



/* Body image */

.prxpic {
    width: 100%;

    display: block;
    
}


.imagedim {
    position: relative;
}

.imagedim::after { /*to create top to bottom gradient */
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom,
        rgba(0, 0, 0, 0.1),   
        rgba(0, 0, 0, 0.2),   
        rgba(0, 0, 0, .3)   
    );
    pointer-events: none;
}


/* Text @ bottom */





.PaperRexTitle {
  width: 90%;
  padding-left: 10%;
  padding-top: 30px;
}

.homeintro {
    background-color: #1E1030;
    width: 80%;
    display: flex;
    padding-top: 10px;
    margin: auto;
    padding-bottom: 10px;
    align-items: center;
}

h1 {
    font-family: myFont;
    color: #b992b5;

    
}



.homeintro p {
    font-family: myFont;
    font-size: 20px;
    display: flex;

    margin-right: 30px;
    color: rgb(216, 216, 216);
}

.homeintro img {
    width: 50%;
    height: auto;
    border-radius: 10px;
    border: 3px solid #857484;
}

/* Footer */


footer {
    border-top: 1px solid rgb(48, 48, 48);
    color: white;
    font-family: MyFont;
    display: flex;

}

.footerBody {
    width: 100%;
    font-size: 12px;
    display: flex;
    align-items: center;
    background-color: #150a24;
    height: 100px;

}

.copyright {
    width: 33%;
    text-align: left;

}

.sources {
    width: 33%;
    text-align: center;
}


.contactinfo {
    width: 33%;
    text-align: right;
    
}





