/* INDEX STYLING */

body {
    margin: 0;
}


/* Navbar styling */
.navbar {
    font-size: 15px;
    gap: 11.63vw;
    display: flex;
    list-style-type: none;
    padding-inline: 25px;
    align-items: center;
    background-color: #2f052b;
    padding-bottom: 5px;
    padding-top: 5px; 
}

.navbar li {
    position: relative;
}



a:link {
   text-decoration: none;
    color: white;
    font-family: MyFont;
    font-size: 15px;
    display: inline-block;        
    transition: transform 0.3s ease, color 0.3s ease;
}

/* So dropdown links dont get targeted */

.navbar > li > a:hover {
    transform: scale(1.2); 
    color: red; 
    transition-duration: .5s;
    text-shadow: 0 0 8px rgba(255, 70, 85, 0.6)
}



@font-face {
    font-family: MyFont;
    src: url(Valorant\ Font.ttf);
    font-weight: normal;
    font-style: normal;
  }



a {
    text-decoration: none;
    color: white;
    font-family: MyFont;

}

/* Dropdowns */

.matches-dropdown {
    display: none;
    position: absolute;
    top: 100%; 
    left: 50%;         
    transform: translateX(-50%); 
    background-color: #2f052b;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.4);
    padding-top: 10px;

}

.matches-dropdown a {
    display: block;
    padding: 10px 20px;
    color: white;
    font-family: MyFont;
    text-align: center;

}

.matches-dropdown a:hover {
    color: red;
    text-shadow: 0 0 8px rgba(5, 5, 5, 0.6)
}

.matches:hover .matches-dropdown {
    display: block; 
    
}

.matches:hover > a {
    color: red;
    text-shadow: 0 0 8px rgba(255, 70, 85, 0.6)

}


.players-dropdown {
    display: none;
    position: absolute;
    top: 100%; 
    left: 50%;         
    transform: translateX(-50%); 
    background-color: #2f052b;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.4);
    padding-top: 10px;

}

.players-dropdown a {
    display: block;
    padding: 10px 20px;
    color: white;
    font-family: MyFont;
    text-align: center;

}

.players-dropdown a:hover {
    color: red;
    text-shadow: 0 0 8px rgba(5, 5, 5, 0.6)
}

.players:hover .players-dropdown {
    display: block; 
    
}

.players:hover > a {
    color: red;
    text-shadow: 0 0 8px rgba(255, 70, 85, 0.6)

}



/* Body image */

.prxpic {
    width: 100%;
    display: block;
    margin: auto;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 100%, rgba(0,0,0,1) 100%);
}


/* Text @ bottom */

.quizintro h1 {
    font-family: myFont;
    color: #67055d;
    text-align: center;
    padding: 0;
    margin-bottom: -30px;
    
}

h1 {
    font-family: myFont;
    color: #67055d;
    text-align: center;
}



.quizintro p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    text-align: center;
    margin: auto;
    padding-bottom: 10px;
    margin-top: 15px;
    width: 80%;
    color:black;
}


p {
    color: white;
   
}



.button.selected {
    color: red;
    text-shadow: 0 0 8px rgba(255, 70, 85, 0.6);

}


/* Second Mulcho */


.Answers  {
    width: 60%;
    background-color: rgb(255, 255, 255);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    justify-content: center;
}


.Answers button {
    width: 100%;
    height: 15vh;
    background-color: #67055d;
    color: white;
    font-family: "myFont";
    border-radius: 5px;
}

.Answers h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Answers button:hover {
    color: red;
    transform: scale(1.02);
    transition-duration: .2s;
}



.Answers1 {
    margin-bottom: 3vh;
}

.Answers2 {
    width: 100%;
    margin-bottom: 3vh;
}

.Answers3 {
    width: 100%;
    margin-bottom: 3vh;
}

.Answers4 {
    width: 100%;
    margin-bottom: 3vh;
}
.Answers5 {
    margin-bottom: 3vh;
}

.Answers6 {
    margin-bottom:  3vh;
}

.Answers7 {
    margin-bottom: 3vh;
}

.Answers8 {
    margin-bottom: 3vh;
    width: 100%;
}

.Answers9 {
    margin-bottom: 3vh;
    width: 100%;
}

.Answers10 {
    margin-bottom: 3vh;
    width: 100%;
}

.Submit {
    margin-top: 4vh;
    width: 40%;
    margin-top: 3vh;    
    margin-bottom: 5vh;
}

.FillChoices {
    display: none;
    width: 100%;
        margin-bottom: 5vh;
    margin-top: -3vh;
    
}

.FillChoices h1 {
    color:Red;
}


.Jing  {
    display:none;
    width: 57vw;
    height: 50vh;
    margin: 10px auto auto auto;
    background-color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    color:#000000;
    background-color: rgba(219, 215, 215, 0.37);
    gap: 20px;
    flex-wrap:unset  
}

.JingBox {
    margin: 5vh auto auto auto;
    display: none;
}

.Jing img {
    height: 50vh;
}

.Jing img:hover {
    transform: scale(1.05);
    transition-duration: .2s;
}


.Forsaken  {
    display: none;
    width: 63vw;
    height: 50vh;
    margin: 10px auto 1vh auto;
    background-color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    color:#000000;
    background-color: rgba(219, 215, 215, 0.37);
    gap: 20px;
    flex-wrap:unset;
}

.ForsakenBox {
    display: none;
    margin: 5vh auto auto auto;

}

.Forsaken img {
    height: 50vh;
    display: block;
}

.Forsaken img:hover {
    transform: scale(1.05);
    transition-duration: .2s;
}


.Something  {
    display:none;
    width: 63vw;
    height: 50vh;
    margin: 10px auto 1vh auto;
    background-color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    color:#000000;
    background-color: rgba(219, 215, 215, 0.37);
    gap: 20px;
    flex-wrap:unset;
}

.SomethingBox {
    display: none;
    margin: 5vh auto auto auto;

}

.Something img {
    height: 50vh;
    display: block;
}

.Something img:hover {
    transform: scale(1.05);
    transition-duration: .2s;
}


.Patmen  {
    display:none;
    width: 64vw;
    height: 50vh;
    margin: 10px auto 1vh auto;
    background-color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    color:#000000;
    background-color: rgba(219, 215, 215, 0.37);
    gap: 20px;
    flex-wrap:unset;
}

.PatmenBox {
    display:none;
    margin: 15vh auto auto auto;

}

.Patmen img {
    height: 50vh;
    display: block;
}

.Patmen img:hover {
    transform: scale(1.05);
    transition-duration: .2s;
}


.Davai  {
    display:none;
    width: 67vw;
    height: 50vh;
    margin: 10px auto 1vh auto;
    background-color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.835rem;
    color:#000000;
    background-color: rgba(219, 215, 215, 0.37);
    gap: 20px;
    flex-wrap:unset;
}

.DavaiBox {
    display:none;
    margin: 15vh auto auto auto;

}

.Davai img {
    height: 50vh;
    display: block;
}

.Davai img:hover {
    transform: scale(1.05);
    transition-duration: .2s;
}


.ThankYouText {
    display: none;
    padding-top: 5vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 1.5rem;
    width: 80%;
    margin: auto;
    padding-bottom: 3vh;
}


.RetakeRosters {

    margin-bottom: 5vh;
    text-align: center;
    display: none;
    gap: 30px;
    justify-content: center;

}

.RetakeRosters a {
    color: white;
    background-color: #2f052b;
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    text-align: center;

}

.RetakeRosters a:hover {
    transform: scale(1.15);
    color: red;
    transition-duration: 0.5s;
    text-shadow: 0 0 8px rgba(255, 70, 85, 0.6); 
}

/* Footer */


footer {
    background-color: #2f052b;
    color: white;
    font-family: MyFont;
}




.footerBody {
    width: 100%;
    font-size: 12px;
    display: flex;
    align-items: center;
    background-color: #2f052b;
    height: 60px;

}

.copyright {
    width: 33%;
    text-align: left;

}

.sources {
    width: 33%;
    text-align: center;
}


.contactinfo {
    width: 33%;
    text-align: right;
    
}






