/* INDEX STYLING */

body {
    margin: 0;
    background-color: #1E1030;

}


/* Navbar styling */
.navbar {
    list-style-type: none;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;   
    border-bottom: 1px solid rgb(49, 33, 64);

 }

.navbar-container{
    display: flex;
    align-items: center;
    padding: 32px;
    padding-left: 9%;
    padding-right: 10%;  
    height: 40px;   
    margin: 0 auto;
    background: rgba(30, 16, 48, 0.92); 
    backdrop-filter: blur(6px);   
}


.navlinks {
    display: flex;
    gap: 50px;
    list-style: none;
    margin-left: auto;  
    padding: 0;
}

.navbar-container li {
    position: relative;
}

a:link {
   text-decoration: none;
    color: white;
    font-family: MyFont;
    font-size: 20px;
    display: inline-block;        
    transition: transform 0.3s ease, color 0.3s ease;
}

a:visited {
    color: white;
}

.navlinks > li > a:hover {


    transition-duration: .5s;
    color: rgb(140, 0, 255); 
    text-shadow:
    0 0 5px rgba(185, 146, 181, 0.4),
    0 0 15px rgba(138, 43, 226, 0.4);
}

@font-face {
    font-family: MyFont;
    src: url(Oswald-VariableFont_wght.ttf);
    font-weight: normal;
    font-style: normal; 
  }

/*BANNER*/
.Banner {
    position: relative;
    padding-top: 130px;
}

.BANNERTITLE {
    color: white;
    margin-top: -216px;
    z-index: 3;
    position: relative;
    margin-bottom: 130px;
}

.BANNERTITLE h1 {
    text-align: center;
    color: rgb(255, 233, 233);
    font-size: 50px;
    font-family: MyFont;
}

#PRXBANNER {
    width: 80%;
    display: block;
    margin: 0 auto;
    filter: brightness(60%);
}

/*QUIZ BODY*/
.QuizBody {
    position: relative;
    width: 80%;
    margin: auto auto 49px auto;
    background-color: #271341;
    border-top: 2px solid rgb(184, 3, 244);;    
}

.QuizBody > p {
    padding-left: 3.5%;
    padding-right: 3.5%;
    color: rgb(207, 193, 209);
    text-align: center;
}

.QuizBody > a {
    display: block;
    background-color: #1E1030;
    width: 80px;
    text-align: center;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 30px;
}







.QuizContent {
    width: 93%;

    padding-top: 10px;
    margin:  auto;
    padding-bottom: 40px;
    border-bottom: 2px solid rgb(49, 33, 64);

}

.QuizContent > img {
    width: 30%;
    height: auto;
    border-radius: 10px;
    border: 3px solid #857484;
    margin-right: 20px;
}


 .QuizBody h1 {
    font-family: MyFont;
    color: #b992b5;    
}



/* Body image */

.prxpic {
    width: 100%;
    display: block;
    margin: auto;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 100%, rgba(0,0,0,1) 100%);
}


/* Text @ bottom */
.quizintro {
    width: 80%;
    margin: auto;
    border-bottom: 2px solid rgb(49, 33, 64);
    margin-bottom: 20px

}

.quizintro h1 {
    font-family: MyFont;
    color: #b992b5;
    text-align: left;
    padding: 0;
    margin-bottom: -30px;
    
}

.quizintro p {
    font-family: MyFont;
    font-size: 25px;
    text-align: left;
    margin: auto;
    padding-bottom: 10px;
    margin-top: 15px;
    color:rgba(255, 255, 255, 0.83);
}


p {
    color: white;
   
}



.button.selected {
    color: rgb(136, 0, 255);
        text-shadow:
    0 0 5px rgba(185, 146, 181, 0.4),
    0 0 15px rgba(138, 43, 226, 0.4);

}


/* Second Mulcho */


.Answers  {
    width: 100%;
    margin: auto;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    border-radius: 5px;
    justify-content: center;

}

.Answers p {
    font-family: MyFont;
}

.Answers h1 {
    font-family: MyFont;
}



.Answers button {
    width: 80%;
    margin: auto;
    height: 15vh;
    background-color:  #511d6d;
    color: white;
    font-family: "MyFont";
    border-radius: 5px;
}



.Answers button:hover {
    color: rgb(238, 0, 255); 
    text-shadow:
    0 0 5px rgba(185, 146, 181, 0.4),
    0 0 15px rgba(138, 43, 226, 0.4);
    
    transform: scale(1.02);
    transition-duration: .2s;
}



.Answers1 {
    margin-top: 10px;
    width: 100%;
    margin-bottom: 3vh;
}

.Answers2 {
    width: 100%;
    margin-bottom: 3vh;
}

.Answers3 {
    width: 100%;
    margin-bottom: 3vh;
}

.Answers4 {
    width: 100%;
    margin-bottom: 3vh;
}
.Answers5 {
    width: 100%;
    margin-bottom: 3vh;
}

.Answers6 {
    width: 100%;
    margin-bottom:  3vh;
}

.Answers7 {
    width: 100%;
    margin-bottom: 3vh;
}

.Answers8 {
    width: 100%;
    margin-bottom: 3vh;
    width: 100%;
}

.Answers9 {
    margin-bottom: 3vh;
    width: 100%;
}

.Answers10 {
    margin-bottom: 3vh;
    width: 100%;
}

.Answers11 {
    width: 100%;
}


.Submit {
    margin-top: 4vh;
    width: 40%;
    margin-top: 3vh;    
    margin-bottom: 5vh;
}

.FillChoices {
    display: none;
    width: 100%;
        margin-bottom: 5vh;
    margin-top: -3vh;
    
}

.FillChoices h1 {
    color:Red;
}


.JingBox {
    display: none;
}

.Jing {
    width: 93%;
    display: flex;
    padding-top: 10px;
    align-items: top;
    padding-bottom: 40px;
    border-bottom: 2px solid rgb(49, 33, 64);
    justify-content: center;
}



.Jing img {
    height: 35vh;
    display: block;
    margin-right: 20px;
    border-radius: 10px;
    border: 3px solid #857484;
}

.JingText {
    font-family: MyFont;
    font-size: 25px;
    color: rgb(220, 211, 211);
}

.Jing img:hover {
    transform: scale(1.05);
    transition-duration: .2s;
}


.ForsakenBox {
    display: none;
}

.Forsaken {
    width: 93%;
    display: flex;
    padding-top: 10px;
    align-items: top;
    padding-bottom: 40px;
    border-bottom: 2px solid rgb(49, 33, 64);
    justify-content: center;
}



.Forsaken img {
    height: 35vh;
    display: block;
    margin-right: 20px;
    border-radius: 10px;
    border: 3px solid #857484;
}

.ForsakenText {
    font-family: MyFont;
    font-size: 25px;
    color: rgb(220, 211, 211);
}

.Forsaken img:hover {
    transform: scale(1.05);
    transition-duration: .2s;
}


.SomethingBox {
    display: none;
}

.Something {
    width: 93%;
    display: flex;
    padding-top: 10px;
    align-items: top;
    padding-bottom: 40px;
    border-bottom: 2px solid rgb(49, 33, 64);
    justify-content: center;
}



.Something img {
    height: 35vh;
    display: block;
    margin-right: 20px;
    border-radius: 10px;
    border: 3px solid #857484;
}

.SomethingText {
    font-family: MyFont;
    font-size: 25px;
    color: rgb(220, 211, 211);
}

.Something img:hover {
    transform: scale(1.05);
    transition-duration: .2s;
}


.PatmenBox {
    display:none;
}

.Patmen {
    width: 93%;
    display: flex;
    padding-top: 10px;
    align-items: top;
    padding-bottom: 40px;
    border-bottom: 2px solid rgb(49, 33, 64);
    justify-content: center;
}



.Patmen img {
    height: 35vh;
    display: block;
    margin-right: 20px;
    border-radius: 10px;
    border: 3px solid #857484;
}

.PatmenText {
    font-family: MyFont;
    font-size: 25px;
    color: rgb(220, 211, 211);
}

.Patmen img:hover {
    transform: scale(1.05);
    transition-duration: .2s;
}


.DavaiBox {
    display:none;
}

.Davai {
    width: 93%;
    display: flex;
    padding-top: 10px;
    align-items: top;
    padding-bottom: 40px;
    border-bottom: 2px solid rgb(49, 33, 64);
    justify-content: center;
}



.Davai img {
    height: 35vh;
    display: block;
    margin-right: 20px;
    border-radius: 10px;
    border: 3px solid #857484;
}

.DavaiText {
    font-family: MyFont;
    font-size: 25px;
    color: rgb(220, 211, 211);
}

.Davai img:hover {
    transform: scale(1.05);
    transition-duration: .2s;
}


.ThankYouText {
    display: none;
    padding-top: 5vh;
    font-family: MyFont;
    color:white;
    text-align: center;
    font-size: 1.5rem;
    width: 80%;
    margin: auto;
    padding-bottom: 3vh;
}




.RetakeRosters  {
    text-align: center;
    display: none;
}

.RetakeRosters a {
    margin: auto;
    color: white;
    background-color: #511d6d;
    width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    text-align: center;
}

.RetakeRosters a:hover {
    transform: scale(1.01);
    color: rgb(181, 3, 181); 
    transition-duration: 0.5s;
    text-shadow:
    0 0 5px rgba(185, 146, 181, 0.4),
    0 0 15px rgba(138, 43, 226, 0.4);
}

/* Footer */


footer {
    border-top: 1px solid rgb(48, 48, 48);
    color: white;
    font-family: MyFont;
    display: flex;

}

.footerBody {
    width: 100%;
    font-size: 12px;
    display: flex;
    align-items: center;
    background-color: #150a24;
    height: 100px;

}

.copyright {
    width: 33%;
    text-align: left;

}

.sources {
    width: 33%;
    text-align: center;
}


.contactinfo {
    width: 33%;
    text-align: right;
    
}






