body {
    margin: 0;
    background-color: #1E1030;

}


/* Navbar styling */
.navbar {
    list-style-type: none;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;   
    border-bottom: 1px solid rgb(49, 33, 64);

 }

.navbar-container{
    display: flex;
    align-items: center;
    padding: 32px;
    padding-left: 9%;
    padding-right: 10%;  
    height: 40px;   
    margin: 0 auto;
    background: rgba(30, 16, 48, 0.92); 
    backdrop-filter: blur(6px);   
}


.navlinks {
    display: flex;
    gap: 50px;
    list-style: none;
    margin-left: auto;  
    padding: 0;
}







.navbar-container li {
    position: relative;
}



a:link {
   text-decoration: none;
    color: white;
    font-family: myFont;
    font-size: 20px;
    display: inline-block;        
    transition: transform 0.3s ease, color 0.3s ease;
}

/* So dropdown links dont get targeted */

.navlinks > li > a:hover {
    transform: scale(1.2); 
    color: red; 
    transition-duration: .5s;
    text-shadow: 0 0 8px rgba(255, 70, 85, 0.6)
}



@font-face {
    font-family: MyFont;
    src: url(Oswald-VariableFont_wght.ttf);
    font-weight: normal;
    font-style: normal; 
  }



a {
    text-decoration: none;
    color: white;
    font-family: MyFont;

}





.players:hover > a {
    color: red;
    text-shadow: 0 0 8px rgba(255, 70, 85, 0.6)

}








.players:hover > a {
    color: red;
    text-shadow: 0 0 8px rgba(255, 70, 85, 0.6)

}



.Banner {
    position: relative;
    padding-top: 130px;
}

.BANNERTITLE {
    color: white;
    margin-top: -210px;
    z-index: 3;
    position: relative;
    margin-bottom: 130px;
}

.BANNERTITLE h1 {
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: myFont;
}

#PRXBANNER {
    width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
    filter: brightness(40%);
}

.RosterBody {
    position: relative;
    z-index: 3;
    padding-top: 0;
    margin-top: 0px;
    width: 80%;

    margin: auto;
    background-color: #201035;
    border-top: 1px solid rgb(49, 33, 64);
}

.RosterBody h1 {
    font-family: MyFont;
    text-align: left;
    font-size: 40px;
    padding-left: 30px;
    margin-bottom: -15px;
    color: #b992b5;    
}

.RosterBody p {
    font-size: 20px;
    font-family: MyFont;
    padding-left: 30px;
    color:white;

}

.RosterTexts {
    width: 98%;
    margin: auto;
}

/* Images of Players */

.PlayerPictures {
    
    display: flex;
    justify-content: center;
    padding-left: 4px;
    gap: 200px;                 
    flex-wrap: wrap; 
    margin-bottom: 50px;
}

.PlayerPictures2 {
    display: flex;
    justify-content: center;
    gap: 200px;
    padding-left: 4px;
}

.Player-Pictures {
    border: solid #555;
    border-radius: 10px;
}

.Player-Pictures:hover {
   transform: scale(1.2); 
   transition-duration: .5s; 
}

/* Text at the bottom & quiz button */

.PlayerIntro {
    padding-top: 30px;
    font-family: MyFont;
    font-size: 20px;
    text-align: center;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;

    
}

.PlayerIntro a {
    color: white;
    background-color: #2f052b;
    width: 100px;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;

}


.PlayerIntro a:hover {
    transform: scale(1.15);
    color: red;
    transition-duration: 0.5s;
    text-shadow: 0 0 8px rgba(255, 70, 85, 0.6); 
}


footer {
    border-top: 1px solid rgb(48, 48, 48);
    color: white;
    font-family: MyFont;
    display: flex;

}

.footerBody {
    width: 100%;
    font-size: 12px;
    display: flex;
    align-items: center;
    background-color: #150a24;
    height: 100px;

}

.copyright {
    width: 33%;
    text-align: left;

}

.sources {
    width: 33%;
    text-align: center;
}


.contactinfo {
    width: 33%;
    text-align: right;
    
}
